#header1 {
    text-align: center; 
    padding: 20px;
    margin : 10px;
    background-color:#e3fffd ;
    border: 1px solid black;
    font-family: 'Kalam', cursive;
    border-radius: 50px;
    }

.home {
    position: absolute;
    left: 50px;
    top: 30px;
    color : black;
    border : none;
    opacity: 0.7;
    padding: 12px;
    background-color: lightblue;
    font-family: 'Kalam', cursive;
    font-size: 15px;
    }

.home:hover {
        opacity: 1;
    }

.previous { 
    position: absolute;
    left: 170px;
    top: 30px;
    color : black;
    border : none;
    opacity: 0.7;
    padding: 12px;
    background-color: lightblue;
    font-family: 'Kalam', cursive;
    font-size: 15px;
    text-decoration: none;
    }

.previous:hover {
    opacity: 1;
    }
    
   
   
#soru1 {
    border: 1 px solid blcak;
    background-color: lightblue;

    }

#dogru {
    border: 1 px solid blcak;
    background-color: lightgreen;
    width: 100;
    height: 100;
    margin-left:350px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 52px;
    border-radius: 10px;
    }

#yanlıs {
    border: 1 px solid blcak;
    background-color: #e3867f;
    width: 100;
    height: 100;
    margin-left: 100px;
    border-radius: 10px;
    font-size: 52px;
    font-family: 'Open Sans', sans-serif;
     }

#sorular {
    border: 1px solid black;
    border-radius: 50px;
    width: 1050;
    margin: auto;
    background-color: #fceccf;
     }

#soru1,#soru2,#islem {
    margin-top: 100px;
    margin-left: 175px;
    width: 100;
    height: 100;
    background-color: rgb(216, 153, 252);
    font-size: 50px;
    font-family: 'Open Sans', sans-serif;
    border-radius: 10px;
     }

#cevap {
    border-radius: 10px;
    background-color: lightskyblue;
    margin-top: 24px;
    margin-bottom: 24px;
    margin-left: 30px;
    opacity:0.7 ;
    box-shadow: 0 7px #474744;
     }

 #cevap:hover {
    opacity: 1;
    }

#cevap:active {
    opacity: 1;
    box-shadow: 0 3px #474744;
    transform: translateY(4px);
}

 #sonuc {
    border-radius: 10px;
    margin-top: 50px;
    margin-left: 340px;
    margin-bottom: 50px ;         
    }